<ion-content class="onelegacy-regular image-bg" no-bounce>
  <div text-center>
    <img class="margin-top-lg" style="width:80%" src="assets/img/logo-tag.png" alt="">
  </div>

  <div padding style="margin-top:50px;">
    <form [formGroup]="loginForm">
      <ion-list>

        <ion-item>
          <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || submitAttempt)">
          <p style="color: #ea6153">Please enter a valid email.</p>
        </div>

        <ion-item>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">
          <p style="color: #ea6153">Password must be at least 6 characters.</p>
        </div>

      </ion-list>
    </form>
    <button ion-button block class="font-18" color="paleblue" (click)="login()">Login</button>
    <button ion-button block class="font-18" color="paleblue" (click)="scanBarcode()">Scan QR code</button>
  </div>
  <div text-center>
    <p no-margin-bottom class="font-24 text-white">Don't have an account?</p>
    <button ion-button class="font-18" clear color="light" (click)="goToSignup()">
      Register here
    </button>
  </div>
</ion-content>