<ion-header>

  <ion-navbar class="onelegacy-regular" color="paleblue">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Your QR</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="onelegacy-regular image-bg" padding>
  <div text-center>
    <div *ngIf="globals.membership == 'Free'">
      <h4>Become a member to get a QR-Code</h4>
    </div>
    <div *ngIf="globals.membership !== 'Free'">
      <qr-code [value]="qrcodeValue" [size]="200"></qr-code>
      <!--<button ion-button block (click)="shareQrCode()">Share Qrcode</button>-->
      <button class="font-18" ion-button color="palegold" block (click)="shareQrCode()">Share QRcode</button>
    </div>
  </div>

  <!--<div style="background: rgba(255,255,255,0.7)" padding text-center>
    <qr-code [value]="qrcodeValue" [size]="150"></qr-code>
  </div>-->
</ion-content>