<ion-header>

  <ion-navbar class="onelegacy-regular" color="paleblue">
    <ion-title>{{name}}'s Videos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="image-bg onelegacy-regular">

  <div *ngFor="let video of videos">
    <ion-card padding style="background: rgba(255,255,255,0.7)">
      <video src={{video.video}} style="width:100%; height:180px; margin-top:20px" controls></video>
        <ion-card-title>
          {{video.title}}
        </ion-card-title>
        <p>
          {{video.description}}
        </p>

    </ion-card>
  </div>
</ion-content>