<!--
  Generated template for the ChangeNumberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>change-number</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>

<ion-header>

  <ion-navbar class="onelegacy-regular" color="paleblue">
    <!--<button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>-->
    <ion-title>Change Number</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding class="onelegacy-regular">
  <form [formGroup]="numberForm">
    <ion-item class="no-padding">
      <ion-label floating>Enter New Number</ion-label>
      <ion-input formControlName="phone" type="number"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!numberForm.controls.phone.valid  &&
      (numberForm.controls.phone.dirty || submitAttempt)">
      <p style="color: #ea6153">Invalid phone number.</p>
    </div>

  </form>
  <button ion-button block margin-top small="true" text-centerclass="font-18" color="paleblue" (click)="changeNumber()">Change Number</button>
</ion-content>