<ion-header>

  <ion-navbar class="onelegacy-regular" color="paleblue">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="color:#1e4a6b" class="onelegacy-regular">
  <div text-center>
    <div *ngIf="userObject | async; let user">
      <div *ngIf="user.profile_photo">
        <img class="margin-top-lg" style="width:50%" src="{{ (userObject | async)?.profile_photo }}" alt="">
      </div>
      <div *ngIf="!user.profile_photo">
        <img class="margin-top-lg" style="width:50%" src="{{profilePhoto}}" alt="">
      </div>
      <!-- <ng-template #demo>
        <img class="margin-top-lg" style="width:50%" src="assets/img/bg.jpg" alt="">
      </ng-template> -->
    </div>
    <ion-item>
      <button color="paleblue" ion-button block clear (click)="changeImage()">Change Image</button>
    </ion-item>
    <p style="color:#1e4a6b" class="font-20">{{ (userObject | async)?.user_name }}</p>
  </div>

  <ion-list>
    <ion-item>
      <p class="font-24">Membership status: {{ (userObject | async)?.membership }}</p>
    </ion-item>
    <ion-item>
      <p class="font-24">Email: {{ (userObject | async)?.email }}</p>
    </ion-item>
    <ion-item>
      <p class="font-24">Number: Primary {{ (userObject | async)?.contact}}</p>
    </ion-item>
    <ion-item>
      <button color="paleblue" ion-button block clear (click)="changeNumber('primary')">Change Number</button>
    </ion-item>

    <ion-item>
      <p class="font-24">Number: Secondary {{ (userObject | async)?.secondaryContact }}</p>
    </ion-item>
    <ion-item>
      <button color="paleblue" ion-button block clear (click)="changeNumber('secondary')">Change Number</button>
    </ion-item>

    <ion-item>
      <p class="font-24">Password: ************</p>
    </ion-item>
    <ion-item>
      <button color="paleblue" ion-button block clear (click)="changePassword()">Change Password</button>
    </ion-item>
  </ion-list>



</ion-content>