<ion-header class="raleway" color="primary">
  <ion-navbar color="paleblue" class=" onelegacy-regular">
    <ion-title>Pay with card</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="onelegacy-regular image-bg" padding no-bounce>
  <div style="margin-top:50px;">

    <form [formGroup]="stripeForm">
      <ion-item class="">
        <ion-input type="number" placeholder="Card Number" formControlName="cardNumber"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!stripeForm.controls.cardNumber.valid  &&
        (stripeForm.controls.cardNumber.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid card number.</p>
      </div>
      <ion-item class="">
        <ion-input type="number" placeholder="CVV" formControlName="cvv"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!stripeForm.controls.cvv.valid  &&
            (stripeForm.controls.cvv.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid cvv number.</p>
      </div>
      <ion-item>
        <ion-label>Expiration Month</ion-label>
        <!--<ion-datetime displayFormat="MM" pickerFormat="MM" formControlName="expMonth"></ion-datetime>-->
        <ion-select formControlName="expMonth">
          <ion-option value="01" checked=true>January</ion-option>
          <ion-option value="02">February</ion-option>
          <ion-option value="03">March</ion-option>
          <ion-option value="04">April</ion-option>
          <ion-option value="05">May</ion-option>
          <ion-option value="06">June</ion-option>
          <ion-option value="07">July</ion-option>
          <ion-option value="08">August</ion-option>
          <ion-option value="09">September</ion-option>
          <ion-option value="10">October</ion-option>
          <ion-option value="11">November</ion-option>
          <ion-option value="12">December</ion-option>
        </ion-select>
      </ion-item>
      <div class="no-border" *ngIf="!stripeForm.controls.expMonth.valid && submitAttempt">
        <p style="color: #ea6153">Expiration month is required.</p>
      </div>
      <ion-item>
        <ion-label>Expiration Year</ion-label>
        <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" max={{maxYear}} min={{minYear}} formControlName="expYear"></ion-datetime>
      </ion-item>
      <div class="no-border" *ngIf="!stripeForm.controls.expYear.valid && submitAttempt">
        <p style="color: #ea6153">Expiration year is required.</p>
      </div>
      <button class="font-18" ion-button block color="palegold" icon-left (click)="pay()">Pay {{displayAmount}} Now</button>
      </form>
    </div>
</ion-content>