<ion-header>
  <ion-navbar class="onelegacy-regular" color="paleblue">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="onelegacy-regular image-bg" no-bounce>
  <ion-grid style="height:100%">
    <ion-row style="height:50%">
      <ion-col padding col-6 style="border: 1px solid white; height:100%">
        <div text-center style="margin-top:25px;" tappable (click)="takeVideo('fromCamera')">
          <img src="assets/img/add.png">
          <p class="font-26 text-white">Record New Video</p>
        </div>
      </ion-col>
      <ion-col padding col-6 style="border: 1px solid white; height:100%">
        <div text-center style="margin-top:25px;" tappable (click)="takeVideo('fromFile')">
          <img src="assets/img/upload.png">
          <p class="font-26 text-white">Upload Video</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="height:50%">
      <ion-col padding col-6 style="border: 1px solid white; height:100%">
        <div text-center style="margin-top:25px;" tappable (click)="myVideos()">
          <img src="assets/img/video.png">
          <p class="font-26 text-white">My Videos</p>
        </div>
      </ion-col>
      <ion-col padding col-6 style="border: 1px solid white; height:100%">
        <div text-center style="margin-top:25px;" tappable (click)="scanBarcode()">
          <img src="assets/img/qr.png">
          <p class="font-26 text-white">Scan QR</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>