<ion-header>

  <ion-navbar color="paleblue">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="onelegacy-regular image-bg" no-bounce>
  <div text-center>
    <img class="margin-top-lg" style="width:80%" src="assets/img/logo-tag.png" alt="">
  </div>
  <!-- <button ion-button block (click)="testGrid()">TEST</button> -->
  <div padding style="margin-top:50px;">
    <form [formGroup]="signupForm">
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Name" formControlName="userName"></ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!signupForm.controls.userName.valid  && (signupForm.controls.userName.dirty || submitAttempt)">
          <p style="color: #ea6153">Please enter a valid username.</p>
        </div>

        <ion-item>
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!signupForm.controls.email.valid  && (signupForm.controls.email.dirty || submitAttempt)">
          <p style="color: #ea6153">Please enter a valid email.</p>
        </div>

        <ion-item>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!signupForm.controls.password.valid  && (signupForm.controls.password.dirty || submitAttempt)">
          <p style="color: #ea6153">Password must be at least 6 characters.</p>
        </div>

        <ion-item>
          <ion-label>DOB</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" formControlName="dob"></ion-datetime>
        </ion-item>


        <ion-item>
          <ion-input type="number" placeholder="Contact" formControlName="contact"></ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!signupForm.controls.contact.valid  && (signupForm.controls.contact.dirty || submitAttempt)">
          <p style="color: #ea6153">Please enter a valid contact number.</p>
        </div>

        <ion-item>
          <ion-input type="text" placeholder="Address" formControlName="address"></ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!signupForm.controls.address.valid  && (signupForm.controls.address.dirty || submitAttempt)">
          <p style="color: #ea6153">Please enter a valid address.</p>
        </div>

        <ion-item>
          <ion-input type="text" placeholder="Secondary Contact" formControlName="secondaryContact"></ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!signupForm.controls.secondaryContact.valid  && (signupForm.controls.secondaryContact.dirty || submitAttempt)">
          <p style="color: #ea6153">Please enter a valid secondary contact number.</p>
        </div>

      </ion-list>
    </form>
    <button ion-button block class="font-18" color="paleblue" (click)="signup()">Register</button>
  </div>

</ion-content>