<ion-header>

  <ion-navbar class="onelegacy-regular" color="paleblue">
    <ion-title>My Videos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="image-bg onelegacy-regular">
  <!-- <div *ngFor="let video of videos | async; let i = index">

    <ion-card style="background: rgba(255,255,255,0.7)">
      <video src={{video.video}} style="width:100%; height:180px; margin-top:20px" controls></video>
      <ion-card-content no-padding no-margin padding-left padding-right>
        <ion-card-title>
          {{video.title}}
        </ion-card-title>
        <p>
          {{video.description}}
        </p>
        <button ion-button class="font-18" block color="danger" (click)="deleteVideo(video.$key, video.storageNumber)">Delete Video</button>
      </ion-card-content>

    </ion-card>

  </div> -->
  <!-- <div *ngFor="let video of videos | async; let i = index">

    <ion-card padding style="background: rgba(255,255,255,0.7)">
      <video src={{video.video}} style="width:100%; height:180px; margin-top:20px" controls></video>

      <ion-card-title>
        {{video.title}}
      </ion-card-title>
      <p>
        {{video.description}}
      </p>
      <div text-right>
        <button ion-button class="font-18" clear icon-left color="danger" (click)="deleteVideo(video.$key, video.storageNumber)">
          <ion-icon name="trash"></ion-icon>Delete
        </button>
      </div>
    </ion-card>

  </div> -->
  <div *ngFor="let video of videos | async; let i = index">
    <ion-card style="background: rgb(255,255,255)">
      <!-- <video src={{video.video}} style="width:100%; height:180px; margin-top:20px"></video> -->
      <div style="width:100%; height:180px; margin-top:20px">
        <button color="paleblue" tappable style="left: 40%; top: 30%; height: 100px;" ion-button icon-only clear (click)="play(video.video, video.title)">
          <ion-icon name="md-play" style="font-size: 9em; padding: 0 !important"></ion-icon>
        </button>
      </div>
      <ion-grid>
        <ion-row padding-left>
          <p style="font-size: 28px; padding-top: 8px;" no-margin>{{video.title}}</p>
        </ion-row>
        <ion-row padding-left padding-bottom>
          <p style="font-size: 20px; padding-top: 8px;" no-margin>{{video.description}}</p>
        </ion-row>
        <ion-row style="border-top:1px solid #ccc">

          <button ion-button class="font-16" block clear icon-left color="danger" (click)="deleteVideo(video.$key, video.storageNumber)">
            <ion-icon name="close"></ion-icon>Remove
          </button>

        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
</ion-content>