// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$text-color:	#868080;
$background-color:	#fffff0;
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #af4035,
  light:      #f4f4f4,
  dark:       #222,
  palegold: #9d8659,
  paleblue: #1e4a6b
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------


@font-face {
  font-family: "onelegacy-regular";
  font-style: normal;
  font-weight: 400;
  src: local("CrimsonText-Regular"), url("#{$font-path}/CrimsonText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "onelegacy-saying";
  font-style: normal;
  font-weight: 400;
  src: local("AlexBrush-Regular"), url("#{$font-path}/AlexBrush-Regular.ttf") format("truetype");
}


.onelegacy-regular{
	font-family: onelegacy-regular;
}

.onelegacy-saying{
	font-family: onelegacy-saying;
}


@import "roboto";
@import "noto-sans";
