<ion-header>
  <ion-navbar class="onelegacy-regular" color="paleblue">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="font-size:18px;" padding class="onelegacy-regular" no-bounce>

  <div style="color:#1e4a6b">
    Have you ever wondered what your ancestors looked like? Say,"Two Hundred" years ago, Sure you might have photo's. <br> 
    Have you ever thought, what it would have been like, right now for "YOU' if you could actually see YOUR ancestors and 
    listen to what they have to say about how life was for them two hundred years ago.<br> 
    After all without that specific chain of events since creation we wouldn't be here.<br> 
    Imagine how wonderful it would be for your future family being able to access information 
    about "YOU" two hundred years from now.<br> Onelegacy is the ultimate tool for leaving recorded information of yourself, 
    telling your life story, for future generations, long after you have gone. <br>
    This information is stored for easy access for future generations, they will be able to not only see what you looked like, but to hear what your voice sounds like, 
    they will listen to all you have to tell them. <br>These pieces of information will be helpful for future generations to complete the puzzle of who they are and know where they come from.</div>
  <div style="color:#1e4a6b">
    <p style="font-weight:bold">You can record anything you like:<p>
        <li>Who you are</li>
        <li>How you lived your life</li>
        <li>What pets you had</li>
        <li>How many children you had giving their names and dates of birth</li>
        <li>How many times you married</li>
        <li>What kind of work did you do to earn a living</li>
        <li>Tell them what the weather is like. In two hundred years from now it could be very different</li>

  </div>
  <div style="color:#1e4a6b"> Onelegacy is a New Zealand based company, it was established with "YOU" in mind,for the purpose of you leaving your memories for future generations to learn about not only you and who you were, 
    but who they are.<br> At Onelegacy, we see that this could be the most valuable thing anyone could leave behind that will live on forever.<br> 
    At Onelegacy we realise it is the most important of all, that is, to remember who we are and remember where we come from. </div>

</ion-content>