<ion-header>

  <ion-navbar class="onelegacy-regular" color="paleblue">
    <ion-title>Upload Video</ion-title>
  </ion-navbar>

</ion-header>

  <ion-content class="onelegacy-regular image-bg">
    <div padding style="margin-top:50px;">
      <ion-list>

        <ion-item>
          <ion-input type="text" [(ngModel)]="title" placeholder="Title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-textarea [(ngModel)]="description" placeholder="Type a description for your video"></ion-textarea>
        </ion-item>

      </ion-list>
      <button ion-button block color="palegold" class="font-18" (click)="uploadToFirebase(blobFile)">Upload</button>
    </div>
    <!--<ion-item>
    <ion-label floating>Title</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Description</ion-label>
    <ion-textarea [(ngModel)]="description"></ion-textarea>
  </ion-item>-->
  </ion-content>
  <!--<ion-footer>
  <button ion-button block (click)="saveVideo(filePath)">Upload</button>
</ion-footer>-->